<!--modify password web
THis operation use js asynchronous operation. Thus,it need a new web.
-->

{% extends 'customers/index.html' %}
{% block title %}Modify Password{% endblock %}
{% block js %}
<!--js file-->
    {% load static %}
    <script type="text/javascript" src="{% static "js/jquery-1.11.3.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block content %}

    <div class="container">
    {% if message %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
        {% endif %}
    <form action="/customer/modifypassword/" method="post" id = "f">
        {% csrf_token %}
        <div class="form-group " >
            <h6>Role:</h6>
            <!--select the role-->
            <select id = "UType" class="form-select custom-select-lg mb-3" name="UType">
              <option value="0">Resource Provider</option>
              <option value="1">Resource Customer</option>
            </select>
        </div>
        <div class="form-group " >
            <h6>Email:</h6>
            <!--sent verification code-->
            <input type="email" id = "email" name = "email" class="form-control" required = "required"><br>

            <button id = "sent" type="button" class="btn btn-outline-primary" >send Email</button>

        </div>

        <br>
        <div class="form-group">
            <h6>Verification Code:</h6>
            <input type="text" name = "vcode" class="form-control" required = "required"><br>
        </div>
        <div class="form-group">
        <!--enter new password-->
            <h6>New Password:</h6>
            <input type="password" name="password1" class="form-control" required = "required"><br>
        </div>
        <div class="form-group">
        <!--confirm password-->
            <h6>Confirm Password:</h6>
            <input type="password" name="password2" class="form-control" required = "required"><br>
        </div>
        <div align="center">
            <button type="submit" class="btn btn-outline-success btn-lg btn-block" >Submit</button>
        </div>
    </form>
    </div>
</div>
{% endblock %}

{% block indexjs %}
<script>
$("#sent").click(function (event) {
            let Utype = $("#UType").val();
            let useremail = $("#email").val();
            alert("Email Was Send!");
            $.get('/customer/sendemailtask/', {registertype: Utype, UserEmail: useremail},
                function (ret) {
                    $('#message').text('Email Was Send!');
                }
            );
        })
</script>
{% endblock %}
